.bg-p {
    background-color: #000000a6!important;
}
.dropdown-menu {

    background-color: #fdfdfdb0;

}
body
{

    font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: .9rem;
}